body {
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  img {
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.header__logo {
  font-family: "Revalia";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  color: #34547A;
}

.modal__link, .header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.1em;
  color: #34547A;
}

.want-description, .work__description, .my__text, .about-me__description, .hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #727272;
}

.item__text, .hero__button, .modal-git {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.footer__name, .text-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

header {
  padding-top: 57px;
  background: #EEEFF1;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 398px;
  gap: 42px;
}
@media screen and (max-width: 1149px) {
  .header__list {
    display: none;
  }
}

.header__burger {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 1999px) {
  .header__burger {
    margin-left: auto;
  }
}
@media screen and (min-width: 1150px) {
  .header__burger {
    display: none;
  }
}

.header__burger:hover {
  fill: #EEEFF1;
}

.modal-list {
  display: block;
  margin-bottom: 20px;
}

.modal__item {
  margin-bottom: 20px;
}

.modal__item:last-child {
  margin-bottom: 0;
}

.qr-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-git {
  color: #EEEFF1;
  width: 225px;
  height: 65px;
  background: #34547A;
}

.hero {
  background: #EEEFF1;
  padding-top: 162px;
  padding-bottom: 146px;
}
@media screen and (max-width: 1499px) {
  .hero {
    text-align: center;
  }
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__box {
  width: 541px;
  margin-left: 131px;
}
@media screen and (max-width: 767px) {
  .hero__box {
    margin-left: 0;
    text-align: center;
  }
}

h1 {
  margin-bottom: 60px;
}

.hero__button {
  width: 225px;
  height: 65px;
  background: #34547A;
  margin-top: 60px;
  border: none;
  color: #EEEFF1;
}

@media screen and (max-width: 767px) {
  .hero-img {
    display: none;
  }
}

.about-me {
  padding-top: 119px;
  text-align: center;
  padding-bottom: 100px;
}

.about-me__description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.project {
  background: #34547A;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .project {
    text-align: center;
    display: none;
  }
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .project__list {
    display: block;
  }
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .project__item {
    display: block;
    margin-bottom: 50px;
  }
}

.item__list {
  display: block;
  margin-left: 20px;
}

.my-skills {
  padding-top: 102px;
}
@media screen and (max-width: 1149px) {
  .my-skills {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.my-skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my__box {
  width: 445px;
  display: block;
  margin-right: 150px;
}
@media screen and (max-width: 767px) {
  .my__box {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 1149px) {
  .my__box {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.my__name {
  margin-bottom: 50px;
}

.my__list {
  display: block;
}

.my__item {
  margin-bottom: 29px;
}

.my__item:last-child {
  margin-bottom: 0;
}

.my__text::after {
  content: "";
  display: block;
  width: 445px;
  height: 4px;
  background: #34547A;
  margin-top: 19px;
}
@media screen and (max-width: 767px) {
  .my__text::after {
    width: auto;
  }
}

.my-image {
  border-radius: 1%;
}
@media screen and (max-width: 1149px) {
  .my-image {
    display: none;
  }
}

.work {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.work__video {
  width: 1110px;
  height: 600px;
  background-image: url(../images/Rectangle\ 5.png);
  margin-top: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
@media screen and (max-width: 1149px) {
  .work__video {
    display: none;
  }
}

.work__description {
  margin-top: 50px;
}

.photo__list {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  display: none;
}

.want-web {
  padding-top: 100px;
  text-align: center;
  background: #EEEFF1;
  padding-bottom: 100px;
}

.want-web .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.want-description {
  margin-top: 50px;
}

.want__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 65px;
}
@media screen and (max-width: 767px) {
  .want__list {
    display: block;
  }
}

.want__input {
  width: 255px;
  height: 50px;
  background: #FFFFFF;
  padding-left: 20px;
  background: #FFFFFF;
  border: none;
}
@media screen and (max-width: 767px) {
  .want__input {
    margin-bottom: 50px;
  }
}

.want__input {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .want__input {
    margin-bottom: 30px;
  }
}

.message {
  width: 540px;
  height: 175px;
  border: none;
  padding-left: 20px;
  padding-bottom: 130px;
}
@media screen and (max-width: 767px) {
  .message {
    width: auto;
  }
}

.want__button {
  background: #34547A;
  width: 190px;
  height: 55px;
  margin-top: 50px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #34547A;
}
@media screen and (max-width: 767px) {
  footer {
    display: block;
    text-align: center;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  footer .container {
    display: block;
  }
}

.footer__box {
  width: 250px;
}
@media screen and (max-width: 767px) {
  .footer__box {
    width: 100%;
  }
}

.footer__name {
  margin-bottom: 20px;
}

.footer__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 750px;
  gap: 21px;
}/*# sourceMappingURL=main.css.map */