header{
    padding-top: 57px;
    background: #EEEFF1;
}

header .container{
    display: flex;
    align-items: center
}

.header__logo{
    @extend %logo-text;
}

.header__list{
display: flex;
margin-left: 398px;
gap: 42px;
@media screen and (max-width:1149px) {
    display: none;
}
}

.header__link{
    @extend %text-link;
}

.header__burger{
    background-color: transparent;
    border: none;
    @media screen and (max-width:1999px) {
       margin-left: auto;
    }
    @media screen and (min-width:1150px) {
        display: none;
    }
}

.header__burger:hover{
    fill: #EEEFF1;
}

.modal-list{
    display: block;
}

.modal__item{
    margin-bottom: 20px;
}

.modal__item:last-child{
    margin-bottom: 0;
}

.modal__link{
    @extend %text-link;
}

.qr-img{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-git{
    @extend %span-text;
    color: #EEEFF1;
    width: 225px;
height: 65px;
background: #34547A;
margin-top: 30px;

}