header{
    padding-top: 57px;
    background: #EEEFF1;
}

header .container{
    display: flex;
    align-items: center
}

.header__logo{
    @extend %logo-text;
}

.header__list{
display: flex;
margin-left: 398px;
gap: 42px;
@media screen and (max-width:1149px) {
    display: none;
}
}

.header__link{
    @extend %text-link;
}

.header__burger{
    @media screen and (max-width:1999px) {
       margin-left: auto;
    }
    @media screen and (min-width:1150px) {
        display: none;
    }
}