.my-skills{
    padding-top: 102px;
    @media screen and (max-width:1149px) {
        text-align: center;
       justify-content: center;
    }
}

.my-skills .container{
    display: flex;
    align-items: center;
    
}

.my__box{
    width: 445px;
    display: block;
    margin-right: 150px;
    @media screen and (max-width:767px) {
        width: 100% ;
        margin-right: 0;
    }
    @media screen and (max-width:1149px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.my__name{
    margin-bottom: 50px;
}

.my__list{
    display: block;
}

.my__item{
    margin-bottom: 29px;
    
}

.my__item:last-child{
    margin-bottom: 0;
}

.my__text{
    @extend %description-text;
}

.my__text::after{
    content: "";
    display: block;
    width: 445px;
    height: 4px;
    background: #34547A;
    margin-top: 19px;
    @media screen and (max-width:767px) {
        width: auto;
    }
}

.my-image{
    border-radius: 1%;
    @media screen and (max-width:1149px) {
        display: none;
    }
}